@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

input::-moz-placeholder {
  color: #ffffff;
}

textarea::-moz-placeholder {
  color: #ffffff;
}

input::-webkit-input-placeholder {
  color: #ffffff;
}

textarea::-webkit-input-placeholder {
  color: #ffffff;
}

body {
  font-family: "Titillium Web";
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._container {
  max-width: 1400px;
  margin: 0px auto;
}

._wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._title {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

._title::after {
  content: "";
  opacity: 0.5;
  width: 90px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: black;
  margin: 0px 0px -5px -40px;
}

._subtitle {
  line-height: 25px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
}

.title::after {
  content: "";
  opacity: 0.5;
  width: 88px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: black;
  margin: 0px 0px -5px -40px;
}

.title-text {
  width: 603px;
  height: 45px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 20px;
}

.menu__item a {
  color: white;
  font-size: 24px;
  padding: 5px;
}

.menu__item a:hover {
  background-color: #643a79;
  border-radius: 5px;
}

/*-------------------------------------------------------------*/
/*-----Home-------------------------------------------------*/
/*-------------------------------------------------------------*/
.block-1 {
  background-color: #87509c;
  height: 597px;
}

.block-1__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-1__logo {
  width: 119px;
  height: 38px;
  padding: 56px 0 0 210px;
}

.block-1__menu {
  width: 416px;
  height: 13px;
  margin-top: 70px;
  margin-right: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-1__item {
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Titillium Web";
  display: block;
  padding: 11px 18px;
}

.block-1__item:hover {
  background-color: #643a79;
  border-radius: 5px;
}

.block-1 a {
  line-height: 18px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.block-1__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 906px;
  height: 88px;
  margin: 147px auto 70px auto;
  font-size: 35px;
  font-weight: bold;
  line-height: 49px;
  color: #f7f3ea;
  text-align: center;
}

.block-1__block-button {
  width: 295px;
  height: 71px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-1__button {
  background-color: #eb7d4b;
  color: #ffffff;
  font-size: 13;
  padding: 29px 83px;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.block-1__button:hover {
  background-color: #17c2a4;
}

/*-------------------------------------------------------------*/
/*-----Services------------------------------------------------*/
/*-------------------------------------------------------------*/
.services {
  background-color: #17c2a4;
  color: #ffffff;
  padding: 60px 10px;
}

.services__subtitle {
  margin: 0px auto 40px auto;
  max-width: 700px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px 50px;
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item .item__image {
  margin-bottom: 20px;
}

.services__item .item__title {
  margin: 0px 0px 20px 0px;
}

.services__item .item__text {
  margin-bottom: 30px;
  max-width: 200px;
}

/*-------------------------------------------------------------*/
/*-----Team----------------------------------------------------*/
/*-------------------------------------------------------------*/
.team {
  background-color: #e7f1f8;
  padding: 60px 10px;
}

.team__title {
  color: #3c4761;
}

.team__subtitle {
  color: #3c4761;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px 50px;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  height: 100%;
}

.team__item .item__image {
  margin-bottom: 20px;
}

.team__item .item__title {
  color: #3c4761;
  margin: 0px 0px 20px 0px;
}

.team__item .item__subtitle {
  color: #30bae7;
  margin-bottom: 15px;
}

.team__item .item__text {
  color: #3c4761;
  margin-bottom: 30px;
}

/*-------------------------------------------------------------*/
/*-----Skills--------------------------------------------------*/
/*-------------------------------------------------------------*/
.skills {
  background-color: #ffffff;
  color: #3c4761;
  padding: 60px 10px;
}

.skills__subtitle {
  margin: 0px auto 40px auto;
  max-width: 700px;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px 50px;
}

.skills__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__item .item__title {
  margin: 20px 0px 20px 0px;
  color: #27283d;
  font-size: 24px;
}

.skills__item .item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 125px;
  margin-bottom: 10px;
}

.skills__item .item__progress {
  font-size: 43px;
  color: #3c4761;
  position: absolute;
  margin: 0 auto;
}

/*-------------------------------------------------------------*/
/*-----Circle--------------------------------------------------*/
/*-------------------------------------------------------------*/
.circle {
  display: block;
  float: left;
  fill: rgba(0, 0, 0, 0);
  stroke: #eee;
  stroke-width: 15;
  stroke-dasharray: 408px 408px;
}

.circle-color-1 circle:nth-child(2n) {
  stroke: #30bae7;
}

.circle-color-2 circle:nth-child(2n) {
  stroke: #d74680;
}

.circle-color-3 circle:nth-child(2n) {
  stroke: #15c7a8;
}

.circle-color-4 circle:nth-child(2n) {
  stroke: #eb7d4b;
}

/*-------------------------------------------------------------*/
/*-----PORTFOLIO-----------------------------------------------*/
/*-------------------------------------------------------------*/
.portfolio {
  background-color: #ffdd99;
  color: #3c4761;
  padding: 60px 10px;
}

.portfolio__subtitle {
  margin: 0px auto 40px auto;
  max-width: 700px;
}

.portfolio__buttons {
  color: #393939;
  text-align: center;
  margin-bottom: 40px;
}

.portfolio__button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.portfolio__button:hover {
  background-color: #fff;
}

.portfolio__special-button {
  display: block;
  margin: 0 auto;
  padding: 25px 70px 25px 70px;
  border-radius: 5px;
  font-size: 13px;
  color: #ffffff;
  background-color: #17c2a4;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.portfolio__special-button:hover {
  background-color: #eb7d4b;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px 50px;
}

.portfolio__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__item .item__title {
  margin: 20px 0px 20px 0px;
  color: #27283d;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 620px) {
  .portfolio__item .item__image {
    width: 320px;
  }
}

/*-------------------------------------------------------------*/
/*-----reviews--------------------------------------------------*/
/*-------------------------------------------------------------*/
.reviews {
  background-color: #d74680;
  padding: 60px 10px;
  color: white;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px 50px;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  height: 100%;
}

.reviews__item .item__image {
  margin-bottom: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.reviews__item .item__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.reviews__item .item__title {
  margin: 0px 0px 20px 0px;
}

.reviews__item .item__subtitle {
  color: #ffdd99;
  margin-bottom: 15px;
}

.reviews__item .item__text {
  margin-bottom: 30px;
}

/*-------------------------------------------------------------*/
/*-----Form----------------------------------------------------*/
/*-------------------------------------------------------------*/
.block-7 {
  background-color: #3c5499;
  height: 915px;
}

.block-7__body {
  max-width: 603px;
  margin: 0 auto;
}

.block-7__header {
  margin-bottom: 80px;
}

.block-7__title {
  color: #ffffff;
  margin: 0px auto 30px auto;
  padding-top: 120px;
}

.block-7__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 26px;
}

.block-7__text-1 {
  font-size: 18px;
  color: #ffffff;
  background-color: #273a71;
  width: 400px;
  height: 25px;
  padding: 23px 0px 20px 26px;
  margin-left: 30px;
}

.block-7__text-1:first-child {
  margin-left: 0px;
}

.block-7__text-1::after {
  content: "*";
  color: red;
}

.block-7__text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 87px;
}

.block-7__big-text {
  resize: none;
  margin: 0 auto;
  width: 861px;
  height: 202px;
  color: #ffffff;
  padding-left: 26px;
  padding-top: 26px;
  font-size: 18px;
  background-color: #273a71;
}

.block-7__block-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-7__button {
  width: 294px;
  height: 71px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #30bae7;
  -webkit-transition-duration: 0.8;
          transition-duration: 0.8;
}

.block-7__button:hover {
  background-color: #17c2a4;
}

/*-------------------------------------------------------------*/
/*-----Footer--------------------------------------------------*/
/*-------------------------------------------------------------*/
.footer {
  background-color: #344b8e;
}

.footer__container {
  padding: 40px 10px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 20px;
}

.footer__item a {
  color: white;
  font-size: 24px;
}

.footer__item a:hover {
  color: #30bae7;
}
/*# sourceMappingURL=style.css.map */