@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------*/
.text-focus-in {
  -webkit-filter: blur(12px);
  filter: blur(12px);
  opacity: 0;
}

._active .text-focus-in {
  -webkit-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/*-------------------------------------------------------------*/
/*-----Tracking------------------------------------------------*/
/*-------------------------------------------------------------*/
.tracking-in-expand {
  opacity: 0;
}

._active .tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*=============================================================*/
.tracking-in-contract {
  letter-spacing: 1em;
  -webkit-transform: translateZ(400px);
  transform: translateZ(400px);
  opacity: 0;
}

._active > .tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/*=============================================================*/
.scale-up-center {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

._active .scale-up-center {
  -webkit-animation: scale-up-center 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*=============================================================*/
.flip-in-hor-bottom {
  -webkit-transform: rotateX(80deg);
  transform: rotateX(80deg);
  opacity: 0;
}

._active > .flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
  animation: flip-in-hor-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

/*=============================================================*/
.fade-in-left {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0;
}

._active .fade-in-left {
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*=============================================================*/
.fade-in-right {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}

._active .fade-in-right {
  -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/*=============================================================*/
.puff-in-center {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-filter: blur(4px);
          filter: blur(4px);
  opacity: 0;
}

._active.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both 0.3s;
          animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both 0.3s;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/*=============================================================*/
.tracking-in-expand-fwd {
  -webkit-transform: translateZ(-700px);
          transform: translateZ(-700px);
  opacity: 0;
}

._active .tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/*=============================================================*/
.swing-in-top-fwd {
  -webkit-transform: rotateX(-100deg);
          transform: rotateX(-100deg);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
}

._active .swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
          animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

/*=============================================================*/
.scale-in-center {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 1;
}

._active > .scale-in-center {
  -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

input::-moz-placeholder {
  color: #ffffff;
}

textarea::-moz-placeholder {
  color: #ffffff;
}

input::-webkit-input-placeholder {
  color: #ffffff;
}

textarea::-webkit-input-placeholder {
  color: #ffffff;
}

body {
  font-family: "Titillium Web";
}

body._lock {
  overflow: hidden;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._container {
  max-width: 1400px;
  margin: 0px auto;
}

._wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._title {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

._title::after {
  content: "";
  opacity: 0.5;
  width: 90px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: black;
  margin: 0px 0px -5px -40px;
}

._subtitle {
  line-height: 150%;
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
}

._btn {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  padding: 25px 70px;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__menu {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 20px;
}

.menu__link {
  color: white;
  font-size: 24px;
  padding: 5px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu__link:hover {
  background-color: #643a79;
  border-radius: 5px;
}

/*-------------------------------------------------------------*/
/*-----Burger--------------------------------------------------*/
/*-------------------------------------------------------------*/
.menu__icon {
  display: none;
  margin: 0 0 0 auto;
}

@media (max-width: 900px) {
  .menu__logo {
    z-index: 5;
    position: relative;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 120px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    background: #000000;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 20px;
  }
  .menu__item {
    margin: 0 auto;
    text-align: center;
  }
  .menu__link {
    font-size: 35px;
  }
}

/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__home {
  background-color: #87509c;
  padding: 200px 10px 100px 10px;
}

.home__container {
  font-size: 35px;
  font-weight: bold;
  line-height: 49px;
  color: #f7f3ea;
  text-align: center;
}

.home__title {
  margin: 80px auto 90px auto;
  max-width: 800px;
}

.home__button {
  background-color: #eb7d4b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.home__button:hover {
  background-color: #17c2a4;
}

/*-------------------------------------------------------------*/
/*-----Services------------------------------------------------*/
/*-------------------------------------------------------------*/
.services {
  background-color: #17c2a4;
  color: #ffffff;
  padding: 60px 10px;
}

.services__subtitle {
  margin: 0px auto 40px auto;
  max-width: 700px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px 50px;
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  text-align: center;
}

.services__item .item__image {
  margin-bottom: 30px;
}

.services__item .item__title {
  margin: 0px 0px 20px 0px;
  font-size: 20px;
}

.services__item .item__text {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 30px;
  max-width: 200px;
}

/*-------------------------------------------------------------*/
/*-----Team----------------------------------------------------*/
/*-------------------------------------------------------------*/
.team {
  background-color: #e7f1f8;
  padding: 60px 10px;
}

.team__title {
  color: #3c4761;
}

.team__subtitle {
  color: #3c4761;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px 50px;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  height: 100%;
  text-align: center;
}

.team__item .item__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px 8px;
}

.team__item .item__links a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team__item .item__links a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.team__item .item__image {
  margin-bottom: 20px;
}

.team__item .item__title {
  color: #3c4761;
  margin: 0px 0px 20px 0px;
  font-size: 20px;
}

.team__item .item__subtitle {
  color: #30bae7;
  margin-bottom: 15px;
  font-size: 18px;
}

.team__item .item__text {
  color: #3c4761;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 130%;
}

/*-------------------------------------------------------------*/
/*-----Skills--------------------------------------------------*/
/*-------------------------------------------------------------*/
.skills {
  background-color: #ffffff;
  color: #3c4761;
  padding: 60px 10px;
}

.skills__subtitle {
  margin: 0px auto 40px auto;
  max-width: 700px;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px 50px;
}

.skills__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__item .item__title {
  text-align: center;
  margin: 20px 0px 20px 0px;
  color: #27283d;
  font-size: 24px;
}

.skills__item .item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 125px;
  margin-bottom: 10px;
}

.skills__item .item__progress {
  font-size: 43px;
  color: #3c4761;
  position: absolute;
  margin: 0 auto;
}

/*-------------------------------------------------------------*/
/*-----Circle--------------------------------------------------*/
/*-------------------------------------------------------------*/
.circle {
  display: block;
  float: left;
  fill: rgba(0, 0, 0, 0);
  stroke: #eee;
  stroke-width: 15;
  stroke-dasharray: 408px 408px;
}

.circle-color-1 circle:nth-child(2n) {
  stroke: #30bae7;
}

.circle-color-2 circle:nth-child(2n) {
  stroke: #d74680;
}

.circle-color-3 circle:nth-child(2n) {
  stroke: #15c7a8;
}

.circle-color-4 circle:nth-child(2n) {
  stroke: #eb7d4b;
}

/*-------------------------------------------------------------*/
/*-----PORTFOLIO-----------------------------------------------*/
/*-------------------------------------------------------------*/
.portfolio {
  background-color: #ffdd99;
  color: #3c4761;
  padding: 60px 10px;
}

.portfolio__subtitle {
  margin: 0px auto 40px auto;
  max-width: 700px;
}

.portfolio__buttons {
  color: #393939;
  text-align: center;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 10px;
}

.portfolio__button {
  padding: 15px 40px;
  border-radius: 5px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio__button:hover {
  background-color: #fff;
}

.portfolio__special-button {
  background-color: #17c2a4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio__special-button:hover {
  background-color: #eb7d4b;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px 50px;
  margin-bottom: 50px;
}

.portfolio__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__item .item__title {
  margin: 20px 0px 20px 0px;
  color: #27283d;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 620px) {
  .portfolio__item .item__image {
    width: 320px;
  }
}

/*-------------------------------------------------------------*/
/*-----reviews--------------------------------------------------*/
/*-------------------------------------------------------------*/
.reviews {
  background-color: #d74680;
  padding: 60px 10px;
  color: white;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px 50px;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  height: 100%;
}

@media (max-width: 425px) {
  .reviews__item {
    text-align: center;
  }
}

.reviews__item .review__image {
  margin-bottom: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.reviews__item .review__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  font-size: 16px;
  min-width: 300px;
}

.reviews__item .review__quote {
  line-height: 130%;
  margin-bottom: 30px;
}

.reviews__item .review__author {
  margin: 0px 0px 20px 0px;
  font-size: 20px;
}

.reviews__item .review__position {
  font-size: 18px;
  color: #ffdd99;
  margin-bottom: 15px;
}

/*-------------------------------------------------------------*/
/*-----Contacts------------------------------------------------*/
/*-------------------------------------------------------------*/
.contacts {
  background-color: #3c5499;
  color: #ffffff;
  padding: 60px 10px;
}

.contacts__subtitle {
  margin: 0px auto 40px auto;
  max-width: 700px;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.contacts__input {
  width: 100%;
  display: block;
  margin: 0 auto 60px auto;
  font-size: 18px;
  color: #ffffff;
  background-color: #273a71;
  padding: 30px;
  margin-bottom: 20px;
}

.contacts__textarea {
  width: 100%;
  display: block;
  resize: none;
  margin: 0 auto 60px auto;
  color: #ffffff;
  padding: 20px 20px 80px 20px;
  font-size: 18px;
  background-color: #273a71;
}

@media (max-width: 640px) {
  .contacts__textarea {
    width: 100%;
  }
}

.contacts__button {
  background-color: #30bae7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contacts__button:hover {
  background-color: #17c2a4;
}

/*-------------------------------------------------------------*/
/*-----Footer--------------------------------------------------*/
/*-------------------------------------------------------------*/
.footer {
  background-color: #344b8e;
}

.footer__container {
  padding: 40px 10px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 20px;
}

.footer__item a {
  color: white;
  font-size: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__item a:hover {
  color: #30bae7;
}
